/* ==========================================================================
   Buttons
   ========================================================================== */

// Base button
.c-btn {
  padding: 1.5rem 2rem;
  @include fs--meta;
  text-decoration: none;
  background: $c__dark-background-lighter;
  border-color: $c__dark-background-lighter;
  border-radius: 10px;
  border-style: none;
  color: $c__white;
}

.c-btn:hover {
  background: $c__dark-background-lighter-hover;
  border-color: $c__dark-background-lighter-hover;
  cursor: pointer;
}

// Button groups
.c-btn-group {
  display: flex;
  justify-content: space-between;
}
